<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=763718624416213&autoLogAppEvents=1" nonce="FRRYgRBb"></script>

    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="/">Algorithms</a></h1><span>with crystal-lang</span>
      <h2 class="project-tagline">Learning algorithms using crystal language</h2>
    </header>

    <div id="main">
      <section id="left-pane" class="d-none d-md-block">
        {% include  list_posts.html %}
      </section>

      <main id="center-pane" class="main-content" role="main">
        {% if page.is_post %}
          <h3 id="page-title">
            {{ page.title }}
          </h3>

          <span class="badge badge-secondary">Difficulty: {{ page.difficulty }}</span>
          <span class="badge badge-secondary">Tags: {{ page.tags | join: ', ' }}</span>
        {% endif %}
        
        {{ content }}


        <footer class="site-footer">
          <ul id="list-links" class="d-md-none">
            <li>
              <a href="/list-posts.html">Show all posts</a>
            </li>
            <li>
            <a href="/list-tags.html">Show all tags</a>

            </li>
          </ul>

          {% if page.is_post %}
            {% include  fb_comments.html %}
          {% endif %}
        </footer>
      </main>

      <section id="right-pane" class="d-none d-md-block">
        {% include  list_tags.html %}
      </section>

    </div>



  </body>
</html>
